{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.scss": [
    "stylelint --custom-syntax postcss-scss --fix"
  ]
}
